# imports functions
#import(boot)
import(survival)
import(kernlab)
import(lars)
import(pls)
import(plsRglm)
import(mixOmics)
import(risksetROC)
import(survcomp)
import(survAUC)
import(rms)

# functions
export(DR_coxph            )    
export(larsDR_coxph        )
export(larsDR_coxph.default)
export(larsDR_coxph.formula)
export(coxpls              )      
export(coxpls.default      )      
export(coxpls.formula      )      
export(coxpls2              )      
export(coxpls2.default      )      
export(coxpls2.formula      )      
export(coxpls3             )     
export(coxpls3.default     )     
export(coxpls3.formula     )     
export(coxplsDR            )    
export(coxplsDR.default    )    
export(coxplsDR.formula    )    
export(coxpls2DR            )    
export(coxpls2DR.default    )    
export(coxpls2DR.formula    )    
export(coxpls3DR           )   
export(coxpls3DR.default   )   
export(coxpls3DR.formula   )   
export(coxsplsDR            )    
export(coxsplsDR.default    )    
export(coxsplsDR.formula    )    
export(coxDKplsDR          )  
export(coxDKplsDR.default  )  
export(coxDKplsDR.formula  )  
export(coxDKpls2DR          )  
export(coxDKpls2DR.default  )  
export(coxDKpls2DR.formula  )  
export(coxDKsplsDR          )  
export(coxDKsplsDR.default  )  
export(coxDKsplsDR.formula  )  
export(cv.autoplsRcox       )      
export(cv.coxDKplsDR        )      
export(cv.coxDKsplsDR       )      
export(cv.coxpls            )      
export(cv.coxplsDR          )      
export(cv.coxsplsDR         )      
export(cv.larsDR            )      
export(cv.plsRcox           )      
export(DKplsRcox                   ) 
export(DKplsRcoxmodel.default      ) 
export(DKplsRcoxmodel.formula      ) 
#export(bootplscox                )
#export(coefs.plsRcox             ) 
#export(kfolds2CVinfos_cox        ) 
#export(permcoefs.plsRcox         ) 
#export(PLS_cox_kfoldcv           ) 
#export(PLS_cox_kfoldcv_formula   ) 
#export(PLS_cox_wvc               ) 
export(plsRcox                   ) 
export(plsRcoxmodel.default      ) 
export(plsRcoxmodel.formula      ) 
export(predict.plsRcoxmodel      ) 
export(print.plsRcoxmodel        ) 
export(print.summary.plsRcoxmodel) 
#export(simul_data_UniYX_cox      )
export(summary.plsRcoxmodel      ) 
#export(tilt.bootplscox           )


## S3 methods for generics in base
S3method("predict", "plsRcoxmodel")
S3method("print", "plsRcoxmodel")
S3method("summary", "plsRcoxmodel")
S3method("print", "summary.plsRcoxmodel")
